@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Moja Aplikacja</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
        @if (!Request.IsAuthenticated)
        {
        <p>@Html.ActionLink("Log in", "LogIn", "User", new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Rejestracja", "Registration", "User", new { @class = "btn btn-default" })</p>
        }
        else
        {
            <p>@Html.ActionLink("Log Out", "LogOut", "User", new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Show Profile", "ShowProfile", "User", new { @class = "btn btn-default" })</p>
        }
</div>