@model MojaAplikacja.Models.UserLogin

@{
    ViewBag.Title = "Activate";
}

<h2>Activate</h2>

@using (Html.BeginForm("Activate","User",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div>
            <h1>@ViewBag.Message</h1>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>
