@model List<MojaAplikacja.Models.User>

@{
    ViewBag.Title = "Forum";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 7);
    grid.Pager(WebGridPagerModes.All);
}

<h2>Forum</h2>

<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display:table;
        border-collapse: separate;
        border:solid 1px #ff6a00;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid #ff0000;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color:burlywood;
        color:black;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color:darkgreen;
        padding: 3px 7px 2px;
    }
</style>

<div id="content">
    @grid.GetHtml(
    tableStyle:"webgrid-table",
    headerStyle:"webgrid-header",
    footerStyle:"webgrid-footer",
    alternatingRowStyle:"",
    rowStyle: "webgrid-row-styl",
    columns:grid.Columns(
        grid.Column(columnName:"Username", header:"Username"),
        grid.Column(columnName:"EmailAdress",header:"Email"),
        grid.Column(columnName:"DateOfBirth",header:"DateOfBirth",format:@<text>@item.DateOfBirth.ToString("MM-dd-yyyy")</text> )
        )
    )
</div>