
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>

@using (Html.BeginForm("Forum", "User", FormMethod.Post))
{
    <div class="columnSMALL">
        
    </div>
    <div class="column">
        
    </div>
    <div class="columnSMALL">
        
    </div>
}